<footer class="site-footer">

	<div class="container">
		<div class="row">
			<div class="logotype">
				<img src="{{ "/build/design/polygon-owl-2-small.png" | prepend: site.baseurl }}" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 footer-source">
			  
			  	<p>
			  		— source code —
			  	</p>
				<small>
					aelveborn.com is copyrighted to Andreas Älveborn but you can find the source code for this website on <a href="https://github.com/aelveborn/aelveborn.github.io" title="aelveborn.com on github" target="_blank">github</a> if you whant to peek around. This is the <a href="#" title="My developing tools">tools</a> that I use.
				</small>

			</div>
			<div class="col-xs-12 col-md-6 footer-social">
				<p>— find me —</p>
				<small>
					<a href="#" title="">hello@aelveborn.com</a>
				</small>

				<ul class="social-list">
					<li>
						<a href="{{site.github}}" title="Github" rel="me" class="link">
							<i class="fa fa-github"></i>
						</a>
					</li>
					<li>
						<a href="{{site.twitter}}" title="Twitter" rel="me" class="link">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="{{site.instagram}}" title="Instagram" rel="me" class="link">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="{{site.dribbble}}" title="dribbble" rel="me" class="link">
							<i class="fa fa-dribbble"></i>
						</a>
					</li>
					<li>
						<a href="{{site.google}}" title="Google+" rel="me" class="link">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>
					<li>
						<a href="{{site.linkedin}}" title="LinkedIn" rel="me" class="link">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>

<!--
<footer class="site-footer">

  <div class="wrapper">

	<h2 class="footer-heading">{{ site.title }}</h2>

	<div class="footer-col-wrapper">
	  <div class="footer-col  footer-col-1">
		<ul class="contact-list">
		  <li>{{ site.title }}</li>
		  <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
		</ul>
	  </div>

	  <div class="footer-col  footer-col-2">
		<ul class="social-media-list">
		  {% if site.github_username %}
		  <li>
			<a href="https://github.com/{{ site.github_username }}">
			  

			  <span class="username">{{ site.github_username }}</span>
			</a>
		  </li>
		  {% endif %}

		  {% if site.twitter_username %}
		  <li>
			<a href="https://twitter.com/{{ site.twitter_username }}">
		   

			  <span class="username">{{ site.twitter_username }}</span>
			</a>
		  </li>
		  {% endif %}
		</ul>
	  </div>

	  <div class="footer-col  footer-col-3">
		<p class="text">{{ site.description }}</p>
	  </div>
	</div>

  </div>

</footer>
-->