<header class="site-header">

	<nav role="main-navigation">
		
		<a href="#" class="nav-btn">
			<span class="sr-only">Toggle navigation</span>
			<div class="nav-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</a>

		<ul class="nav-items">
			<li>
				<a href="/" title="">start</a>
			</li>
			<li>
				<a href="/resume/" title="">resumé</a>
			</li>
			<li>
				<a href="/blog/" title="">blog</a>
			</li>
			<li>
				<a href="/projects/" title="">projects</a>
			</li>
		</ul>
	</nav>

	<div class="logotype">
		<a href="/" class="link" title="Go to the start page">— aelveborn —</a>
	</div>

</header>