---
layout: master
title: Blog
---

<main class="post-listing">

	{% for page in paginator.posts %}

	<article class="post">

		<!-- Header -->
		<header class="post-header">

			<!-- Title -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-push-1">

						<a href="{{ page.url }}" title="{{ page.title }}">
							<h1 class="post-title orphans">
								{{ page.title }}
							</h1>
						</a>

					</div>
				</div>
			</div>
			<!-- /Title -->

			<!-- Meta -->
			{% include post_meta.html %}
			<!-- /Meta -->

		</header>
		<!-- /Header -->

		{% if page.hero %}
		<div class="post-figure">
			<figure class="banner">
				<img src="{{ page.hero | prepend: site.baseurl }}" />
			</figure>
		</div>
		{% endif %}

		<!-- Content -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-push-1">
					<article class="post-content">
						{{ page.content }}
					</article>
				</div>
			</div>
		</div>
		<!-- /Content -->

	</article>

	{% endfor %}


	<div class="pagination">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-sm-offset-2 text-center">

					{% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path }}" class="previous btn btn-default">Previous</a>
					{% endif %}

				</div>

				<div class="col-xs-12 col-sm-4 text-center">

					<span class="page-number ">— {{ paginator.page }} of {{ paginator.total_pages }} —</span>

				</div>

				<div class="col-xs-12 col-sm-2 text-center">

					{% if paginator.next_page %}
						<a href="{{ paginator.next_page_path }}" class="next btn btn-default">Next</a>
					{% endif %}

				</div>
			</div>
		</div>
	</div>

</main>